name: Gradle Submit Dependency Graph

on:
  workflow_call:

permissions:
  contents: write

jobs:
  gradle-submit-dependency-graph:
    runs-on: ubuntu-latest
    steps:
      - name: Download and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          dependency-graph: download-and-submit
